#
# Конфигурация нормализации фона изображения.
#
# Секция [general] содержит настройки,
# общие для всех алгоритмов.
#
# Остальные секции содержат параметры,
# специфичные для конкретных алгоритмов.
#

[general]

#
# Алгоритм нормализации фона.
#
# Поддерживаемые значения:
#
#   imagemagick
#   opencv
#
algorithm = opencv



[imagemagick]

#
# Метод нормализации.
#
# Поддерживаемые значения:
#
#   normalize
#   auto-level
#   contrast-stretch
#   clahe
#
method = normalize


#
# Значение,
# передаваемое непосредственно
# параметру
#
#     -contrast-stretch
#
# Используется только при
#
#     method = contrast-stretch
#
# Примеры:
#
#   1%x1%
#   2%x1%
#   0.5%x0.5%
#
contrast_stretch = 1%x1%


#
# Значение,
# передаваемое непосредственно
# параметру
#
#     -clahe
#
# Используется только при
#
#     method = clahe
#
# Примеры:
#
#   8x8+128+3
#   16x16+256+2
#
clahe = 8x8+128+3



[opencv]

#
# Метод нормализации.
#
# Поддерживаемые значения:
#
#   illumination
#   normalize
#   equalize-hist
#   clahe
#
# illumination рекомендуется
# для подготовки документов
# к последующей бинаризации.
#
method = illumination


#
# Параметр clipLimit
# алгоритма CLAHE.
#
# Используется только при
#
#     method = clahe
#
clip_limit = 2.0


#
# Размер сетки CLAHE.
#
# Используется только при
#
#     method = clahe
#
# Формат:
#
#     WIDTHxHEIGHT
#
tile_grid_size = 8x8


#
# Размер структурного элемента,
# используемого для оценки
# фона документа.
#
# Используется только при
#
#     method = illumination
#
# Формат:
#
#     WIDTHxHEIGHT
#
# Рекомендуется использовать
# нечетные размеры.
#
kernel_size = 31x31