#
# Конфигурация бинаризации изображения.
#
# Секция [general] содержит настройки,
# общие для всех алгоритмов.
#
# Остальные секции содержат параметры,
# специфичные для конкретных алгоритмов.
#

[general]

#
# Алгоритм бинаризации.
#
# Поддерживаемые значения:
#
#   otsu
#   sauvola
#
algorithm = sauvola


[otsu]

#
# На данный момент
# алгоритм Otsu
# дополнительных параметров
# не имеет.
#


[sauvola]

#
# Размер локального окна.
#
# Должен быть нечетным числом.
#
window = 51


#
# Коэффициент чувствительности.
#
k = 0.10