#
# Конфигурация обрезки изображения.
#
# Секция [general] содержит настройки,
# общие для всех алгоритмов.
#
# Остальные секции содержат параметры,
# специфичные для конкретных алгоритмов.
#

[general]

#
# Алгоритм обрезки изображения.
#
# Поддерживаемые значения:
#
#   imagemagick
#   unpaper
#
algorithm = unpaper



[imagemagick]

#
# Порог сравнения цветов.
#
# Значение передается непосредственно
# параметру "-fuzz".
#
fuzz = 10%


#
# Цвет фона страницы.
#
# Используется ImageMagick
# при определении области,
# подлежащей обрезке.
#
# Поддерживаются любые значения,
# допустимые для ImageMagick.
#
# Наиболее распространенные:
#
#   white
#   black
#   none
#
background = white


#
# Выполнить "+repage"
# после операции "-trim".
#
# Поддерживаемые значения:
#
#   true
#   false
#
# При значении true
# wrapper передает параметр
# "+repage".
#
repage = false



[unpaper]

#
# Макет документа.
#
# Значение передается непосредственно
# параметру "--layout".
#
# Поддерживаемые значения:
#
#   single
#   double
#
layout = single


#
# Направление поиска границ.
#
# Значение передается непосредственно
# параметру "--border-scan-direction".
#
# Поддерживаемые значения:
#
#   v
#   h
#   v,h
#
border_scan_direction = v


#
# Размер области поиска границы.
#
# Значение передается непосредственно
# параметру "--border-scan-size".
#
border_scan_size = 5,5


#
# Шаг поиска границы.
#
# Значение передается непосредственно
# параметру "--border-scan-step".
#
border_scan_step = 5,5


#
# Порог обнаружения границы.
#
# Значение передается непосредственно
# параметру "--border-scan-threshold".
#
border_scan_threshold = 5


#
# Отключить автоматический
# поиск границ страницы.
#
# Поддерживаемые значения:
#
#   true
#   false
#
# При значении true
# wrapper передает параметр
# "--no-border-scan".
#
no_border_scan = false


#
# Включить подробный вывод unpaper.
#
# Поддерживаемые значения:
#
#   true
#   false
#
# При значении true
# wrapper передает параметр
# "--verbose".
#
verbose = false