#
# Конфигурация исправления наклона изображения.
#
# Секция [general] содержит настройки,
# общие для всех алгоритмов.
#
# Остальные секции содержат параметры,
# специфичные для конкретных алгоритмов.
#

[general]

#
# Алгоритм исправления наклона.
#
# Поддерживаемые значения:
#
#   imagemagick
#   unpaper
#
algorithm = unpaper


[imagemagick]

#
# Порог чувствительности алгоритма
# ImageMagick.
#
# Значение передается непосредственно
# параметру "-deskew".
#
threshold = 40%


#
# Цвет фона,
# используемый при повороте изображения.
#
# Поддерживаются любые значения,
# допустимые для ImageMagick.
#
# Наиболее распространенные:
#
#   white
#   black
#   none
#
background = white


[unpaper]

#
# Максимальный угол поиска наклона
# страницы (в градусах).
#
# Значение передается непосредственно
# параметру "--deskew-scan-range".
#
deskew_scan_range = 20


#
# Шаг поиска угла
# (в градусах).
#
# Чем меньше значение,
# тем точнее определяется угол,
# но тем медленнее выполняется обработка.
#
# Значение передается непосредственно
# параметру "--deskew-scan-step".
#
deskew_scan_step = 0.10


#
# Алгоритм интерполяции,
# используемый при повороте изображения.
#
# Поддерживаемые значения:
#
#   nearest
#   linear
#   cubic
#
# Значение передается непосредственно
# параметру "--interpolate".
#
interpolation = cubic


#
# Включить подробный вывод unpaper.
#
# Поддерживаемые значения:
#
#   true
#   false
#
# При значении true
# wrapper передает параметр
# "--verbose".
#
verbose = false