#
# Конфигурация удаления
# мелкого шума (despeckle).
#
# Секция [general] содержит настройки,
# общие для всех алгоритмов.
#
# Остальные секции содержат параметры,
# специфичные для конкретных алгоритмов.
#

[general]

#
# Алгоритм удаления шума.
#
# Поддерживаемые значения:
#
#   opencv
#
algorithm = opencv



[opencv]

#
# Метод удаления шума.
#
# Поддерживаемые значения:
#
#   morphology
#   connected-components
#
method = connected-components


#
# Морфологическая операция.
#
# Используется только при
#
#   method = morphology
#
# Поддерживаемые значения:
#
#   opening
#   closing
#   erosion
#   dilation
#
operation = opening


#
# Размер структурного элемента.
#
# Используется только при
#
#   method = morphology
#
# Значение передается
# параметру
#
#   --kernel-size
#
# Формат:
#
#   WIDTHxHEIGHT
#
kernel_size = 3x3


#
# Количество итераций
# морфологической операции.
#
# Используется только при
#
#   method = morphology
#
# Значение передается
# параметру
#
#   --iterations
#
iterations = 1


#
# Минимальная площадь
# связной компоненты.
#
# Используется только при
#
#   method = connected-components
#
# Все компоненты,
# площадь которых меньше
# данного значения,
# будут удалены.
#
# Значение передается
# параметру
#
#   --min-area
#
min_area = 8