#
# Конфигурация определения ориентации изображения.
#
# Секция [general] содержит настройки,
# общие для всех алгоритмов.
#
# Остальные секции содержат параметры,
# специфичные для конкретных алгоритмов.
#


[general]

#
# Алгоритм определения ориентации.
#
# Поддерживаемые значения:
#
#   tesseract
#   leptonica
#   paddleocr
#
algorithm = tesseract



[tesseract]

#
# Язык модели Tesseract,
# используемый для OSD.
#
# Для определения ориентации
# используется специальная модель osd.
#
language = osd


#
# DPI входного изображения.
#
# Если параметр отсутствует,
# wrapper не передает его Tesseract.
#
# Может быть полезен для сканов,
# где DPI не указан в метаданных.
#
# dpi = 300


#
# Уровень сообщений Tesseract.
#
# Поддерживаемые значения:
#
#   ALL
#   TRACE
#   DEBUG
#   INFO
#   WARN
#   ERROR
#   FATAL
#   OFF
#
loglevel = ERROR



[leptonica]

#
# На данный момент
# дополнительных параметров нет.
#
# В будущем здесь могут появиться
# настройки алгоритма Leptonica.
#



[paddleocr]

#
# На данный момент
# дополнительных параметров нет.
#
# В будущем здесь могут появиться:
#
#   модель определения ориентации;
#   порог уверенности;
#   параметры inference.
#